@charset "UTF-8";

/*-------------------

* To-Do List *
    
    Write Website History
    
    Add Link To All My Channels on the Home Page
    
    Format Bullet Points
            
    Create responsive layout for phones / tablets
    
    Template


* Done *

    Add links to Navigation
    
    Write Blog

    Write FAQ
    
    Add Color and Decorations to Links
    
    Write About
    
    Write Contact
    
    Make Navigation icons webp.

---------------------*/



@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: boulder;
    src: url(../fonts/BoulderRegular.ttf);
    }


html{
    font-size: 100%;
    }


/* Top of the Website */

body{
    margin: 0;
    margin-top: -.6rem;
	
    
    
    background-color: #aa8d4a;
    background-image:linear-gradient(180deg, rgba(170, 141, 74, 0), rgba(170, 141, 74, 0) 95%, rgba(0, 0, 0, 0.69) 100%), url(../images/wood.webp);
    background-repeat: repeat;
    background-position: top center;
    background-size: 60rem;
    background-attachment: fixed;
    
    
    padding: 0;
    width: 100%;
    display: block;
    }

body::-webkit-scrollbar{
    width: .8rem;
    }
    
body::-webkit-scrollbar-track{
    background: rgb(64, 57, 51);
    }
    
body::-webkit-scrollbar-thumb{
    background:#6f6767;
    border-radius: 5px;}


#layout{
    margin: 0;
    display:grid;
    grid-template-columns: 1fr 55rem 1fr;
    grid-template-rows: 7.2rem auto 1fr;
    /* grid-template-areas: 
    "one two three"
    "four main six"*/
    }

#two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: auto;
    }


h1 img{
	position:relative;
    
    max-width: 28rem;
    height: auto;
    
    margin-left: -.5rem;
    margin-top: -1rem;
    z-index: 1;}

header{
    }

#social {
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    transform: translate(0, -5.5rem);
    margin-right: .05rem;
    }

#social img{
    margin-left: .6rem;
    max-width: 2.7rem;
    /*float: right;
    position: relative;
    left: 0%;
    right: 69.5%;
    margin-left: .5rem;*/
    border-radius: 50%;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    
    transition-property: filter;
    transition-duration: .0s;
    transition-timing-function: ease-in-out;}
    
#social a{
    display: inline-block;
    border-radius: 50%;
    }
    
#social img:hover{
    filter:brightness(110%);
    outline-style: solid;
    outline-width: .15rem;
    outline-color: rgb(229, 229, 229);
    }


    
/* Hull */

#main {
    box-sizing: border-box;
    display: block;
    
    border-radius: .5rem;
    
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 55rem;
    }
    

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    font-family: 'RocknRoll One', sans-serif;
    user-select: none;
    
    background-color: #483813;
    color: #ffffff;
    
    box-sizing: border-box;
    border-radius: inherit;
    border-style: solid;
    border-top-width: .2rem;
    border-left-width:.2rem;
    border-right-width:0;
    border-bottom-width: 0;
    border-color: #e8e8e8;
    
    width: 100%;
    height: 7.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: -5rem; 
    
    z-index: 2;
    position:static;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    }
    
    
#navigation a{
    color: inherit;
    text-decoration: none;
    z-index: 2;}
    
    
#navigation div{
    margin: 0;
    text-align: center;
    margin-top: -.2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    text-indent: 0;
    
    
    background-color: #7a6637;
    padding: 0;
    
    
    border-color:#e8e8e8;
    border-style: solid;
    border-width: .2rem;
    border-top-color: #e8e8e8;
    border-top-width: .2rem;
    
    z-index: 2;

    
    line-height: 2rem;
    
    transition-property: transform, background-color;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    
    width: 6.3rem;
    height: 100%;
    display: block;
    }

#navigation div:hover{
    transform: translate(0px, -3.4rem);
    z-index: 2;
    background-color: #7a6037;}        

#navigation div img {
    filter: invert(1);
    max-width:40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translate(0, .3rem);
    }
    
#navigation #contactnav{
    border-radius: 0 .5rem 0 0;
    border-right-style:solid;
    -border-right-width: 1px;
    -border-right-color: #483813;}
    
    



#mainwhite {
    margin: 0 0 0 0;
    padding: 0px;
    /* width: 45rem;*/
    background-color: #fffff9;
    border-radius: 0% 0% .5rem .5rem;
    
    
    box-sizing: border-box;
    border-style:solid;
    border-color: #e8e8e8;
    border-width: 0 .2rem .2rem .2rem;
    
    font-family: Georgia, serif;
    line-height: 28px;
    text-indent: 1.5em;

    position: relative;
    z-index: 6;
    
    height: auto;
    overflow: hidden;
    
    
    background-image: url(../images/zelda_banner.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 56rem;
    background-origin: border-box;
    }


#whitebar{
    height: .25rem;
    width: 56rem;
    
    margin-top: -1px;
    margin-bottom: 0;
    
    background-color: #e8e8e8;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    clip-path: inset(0px 0px -20px 0px);

    position: absolute;
    z-index: 20;
    }
    




/* Article */

article {
    display:block;
    box-sizing: border-box;
    position: relative;
    margin-top: 17rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 33rem;
    padding: 0 1rem 0 1.3rem;
    
    font-size: .9rem;
    text-indent: 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    text-align: left;
    }

article p {
    margin-bottom: .5rem;}
    
    
article h2 {
    font-family: 'Boulder';
    font-weight: 10;
    font-size: 2em;

    margin-bottom: .8rem;

    line-height:  1.1em;
    letter-spacing: .01em;

    color: #1c1c1c;
}


article h3 {
    margin-top: 0rem;

    font-size: .85rem;
    text-indent: 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-style: italic;
    }

article h4{
    font-weight: 300;
    font-size: 1.4rem;
    font-style: italic;
    
    margin-top: 3.5em;
    margin-bottom: .6rem;}

article ol li{
    margin-bottom: .5rem;

}

article ol {
    margin-top: -0rem;
    margin-bottom: -1rem;
    
}

article img {
    width: 90%;
    }

#faqarticle img {
    
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.567);
    
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 90%;
    
    display: block;
    z-index: 10;
    }

.square {
    border-style: solid;
    border-width: .01em;
    border-color: #d3d3d3;
    
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.567);
    
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 100%;
    
    display: block;
    z-index: 10;
    position: relative;}

strong {
font-weight: 500;
}

.blue {
    color: #ef0000;
    }

article ul {
    text-indent: 0;
    text-align: left;
    margin-top: -.3rem;
    }
    
article a {
    color: blue;
    font-weight: 400;
    text-decoration: none;
    }
    
article a:hover {
    color: darkblue;
    text-decoration: underline;
    }
    
    
    
article .goto{    }
    
    
    
    
    



    
</style>
    
    
    
  
  
    
/* RADIO  On Side? */

        
#radio {
    display: none; 
    
    grid-row: 2 / 3 ;
    grid-column: 2 / 3;
    
    margin: 0;
    margin-left: .5rem;
    margin-top: 0;
    
    max-width: 10rem;
    height: 5rem;
    
    position: none;
    z-index: 0;

    border-radius: 6px;
    
    font-family: 'RocknRoll One', sans-serif;
    color: white;
    user-select: none;
    

    
    
    
    }


/*
     ▒▒▒▒▒▒▒▒▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒  
    ██                                      ▒▒
    ██                                      ▓▓
    ██  ████    ████    ██▓▓      ▒▒▒▒░░  ░░▒▒
  ▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░██
  ▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
  ▒▒▒▒▓▓░░░░░░░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░▓▓▓▓
  ▒▒▒▒▓▓░░░░░░░░▒▒░░░░░░▓▓░░░░░░░░░░░░░░░░▓▓▓▓
  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓
  ▒▒▒▒▒▒████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓████▓▓▓▓▓▓▒▒▓▓
  ▒▒▒▒██████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████▓▓██▓▓██▒▒▓▓
  ▒▒▓▓██▓▓▓▓██▓▓▒▒░░░░░░░░░░▒▒▓▓██████▓▓██▒▒▓▓
  ▒▒▒▒████████▒▒░░░░░░░░░░  ▒▒██▓▓██████▓▓▒▒██
  ▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓██▓▓▓▓▒▒▒▒▓▓
  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░▓▓

*/
/* Keel */


#socialbottom { display: none;}



footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    
    
    margin-top: .5rem;
    margin-bottom: 4rem;
    margin-right: .3rem;
    padding-top: 0px;
    color: white;
    text-align: right;
    line-height: .6em;
    font-size: .8rem;
    text-shadow: .05em .05em .1em rgb(70, 70, 70);
    font-family: 'RocknRoll One', sans-serif;
    }

    
    
address {
    color:#ffffff;
    text-decoration: none;
    font-style: normal;}
    
#email {
   color:#ffffff; 
   text-decoration: none;
   font-size: .87rem;}
   
   
   
   
   
   
/* -----------------


MAGIC and SUCH!


                ░░        ░░
          ░░  ░░      ░░      ░░  
                            ░░   
                  ░░          
                  ░░░░░░░░     
        ░░░░      ░░░░░░░░    ░░░░
              ░░░░░░░░░░░░ 
                  ██░░░░░░░░ 
              ████  ░░         
            ████    ░░      ░░
          ████                ░░ 
        ████            ░░            
      ████              ░░     
    ████                      
  ████                        
████                           
███                             
█         ░░      
-----------------*/


@media screen and (max-width: 910px) {
/* Makes the Main Area Smaller to Fit the Width */

    #layout{
        margin: 0;
        display:grid;
        grid-template-columns: 1fr 45rem 1fr;
        grid-template-rows: ;
        /* grid-template-areas: 
        "one two three"
        "four main six"*/
        }

    #main {
        box-sizing: border-box;
        display: block;

        border-radius: .5rem;


        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
        }

} /* End of 910px */


@media screen and (max-width: 742px) {
/* Makes the Main Section 100% of Width  */


    h1{
        
        padding-right: 5rem;
        
        width: 21rem;
        height: auto;
        
        margin-left: auto;
        margin-right: auto;

        
        z-index: 1;
        }


    #social {
        display:none;
        }



    #layout{
        margin: 0;
        display:grid;
        grid-template-columns: 1fr 100% 1fr;
        /* grid-template-areas: 
        "one two three"
        "four main six"*/
        }





    /* Navigation 742px*/
    
    
    
    #navigation {
        display: flex;
        justify-content: flex-start;
        padding-right: .4rem;
        }
    
    
    #navigation a{
        flex: 1 1 100%;
        height: 2rem;
        }
       
    #navigation div{
        
        width: 100%;
        
        }

    #navigation div img {
        display: none;
        }
    

    #navigation div:hover{
        transform: none;
        }  


    #navigation #homenav{
        border-radius: .5rem 0 0 0;
        border-left-style:solid;
        
        margin-left: -.2rem;
        }
        



    /* MAIN 742px */
    #main {
        box-sizing: border-box;
        display: block;

        border-radius: .5rem;


        grid-column: 2 / 3;
        grid-row: 2 / 3;
        }

    #social {
        margin-right: 0;
        }


    /* Footer 742px*/
    
    
    footer {
        text-align: center;
        
        width: 24rem;
        
        margin-left: auto;
        margin-right: auto;

        font-size: .72rem;
        line-height: .6rem;
        }
    
    footer #email {
        font-size: .72rem;
        }
    
    #socialbottom {
        position: static;
    
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        
        margin-top: 0rem;
        margin-bottom: 1.5rem;
        }
    
    
    #socialbottom img {
        border-radius: 50%;
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        
        width: 3.7rem;
        margin-top: 0rem;
        }
    
    #socialbottom a{
        display: inline-block;
        border-radius: 50%;
        }


    #socialbottom img:hover{
        filter:brightness(110%);
        outline-style: solid;
        outline-width: .15rem;
        outline-color: rgb(229, 229, 229);
        }

    
    footer div {
        margin-top: .3rem;
        }

    
    
    

        
    article p {
        display: block;
        
        }
                

    



    /* Scroll Bar 742px */
    body::-webkit-scrollbar{
        width: .55rem;}

    body::-webkit-scrollbar-track{
        background: rgb(64, 57, 51);}

    body::-webkit-scrollbar-thumb{
        background:#7e7b7b;
        border-radius: 5px;}
    


}/* End of 742px */




@media screen and (max-width: 450px) {
/* Makes the Main Section 100% of Width  */

    h1 {width: 15rem;
        padding-right: 0;}

    h1 img{
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        margin-top: ;
        }
    
    #layout{
        margin: 0rem;
        display:grid;
        grid-template-rows: 4rem 100% 1fr;
        /* grid-template-areas: 
        "one two three"
        "four main six"*/
        }

    
   article h3 {
        text-align: center;
        }    


    /* 450px */
    
    #mainwhite {
    
    background-image: url(../images/zelda_banner.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50rem;
    background-origin: border-box;
    }
    
    article {
    margin-top: 16rem;
    }
    
  

    
 
        
        
/* Other Text */





    article h2 {
        text-align: center;
        }



    #socialbottom {
        justify-content: center;

        margin-top: 0rem;
        margin-bottom: 1.5rem;
        }
    
    
    #socialbottom img {
        width: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        }

    
    
    footer {
        text-align: center;
        
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;

        font-size: .6rem;
        line-height: .6rem;
        }



}

/* --------- 

End of Magic :( 

----------*/










   
div {
    
}
